*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background: ghostwhite;
    /*color:black;*/
    /*background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    */
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

a {
    /*color: black;*/
    text-decoration: none;
}

ul {
    list-style: none;
}
/*--------------------CAMBIOS PARTICULARES----------------*/

/* Aquí vamos a cambiar los estilos de navegación */

.encabezado{
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #d62828;
    font-size: 20px;
    box-shadow: 0 4px 25px -22px black;
    height: 60px;
}

.head-content{
    /*max-width: 1200px;*/
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/*SECCION LOGO*/
.logo {
    height: 60px;
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
}
.logo a {
    margin: 13px 0 10% 5%;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: black;
}

/*LOGO*/
.nav-brand { 
    width: 80px;
}

.menu {
    height: 60px;
}

.menu nav {
    height: 100%;
}

.menu nav ul {
    height: 100%;
    display: flex;
}

.menu nav ul li{
    height: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*
.nav-main ul {
    position: fixed;
    z-index: 2;
    width: 100%;
    background-color: #d62828;
    font-size: 20px;
    box-shadow: 0 4px 25px -22px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /*padding: 20px 0;
}*/



/* Navegation Left 
.nav-main{
    height: 60px;
    display: flex;
    
}
/*
.nav-main ul {
    height: 100%;
    display: flex;
}

.nav-main ul li {
    height: 100%;
    padding: 9px;
    margin: 0px 10px;
    display: flex;
    align-items: center;  
}
*/
.head-content ul li a {
    color: ghostwhite;
    padding: 2px;
}

.head-content ul li a:hover {
    border-bottom: 2px solid ghostwhite;
}
/*
.nav-main ul.nav-menu {
    flex: 1;
    padding-top: 6px;
    margin-left: 17%;
}*/

.head-content .nav-menu-right {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

/*Cita*/
.cita {
    font-size: 15px;
    padding-top: 12px;
    color: #262626;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

/*----------------------------------------------------------------------------------------*/
/*SHOW CASE*/
.showcase {
    margin-top: 10px;
    width: 100%;
    color: black;
    height: 500px;
    background: url('./img/BlbliaMacbook.jpg') no-repeat center center/cover;
    padding-bottom: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 20px;

}
.showcase a{
    color: ghostwhite;
}

.btn {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px;
    background: #262626;
    color: ghostwhite;/*lo mismo que en el (.showcase a)*/
    font-size: 15px;
    border: 1px solid ghostwhite;
    margin: 10px 0;
}

.btn:hover {
    opacity: .9;
}

.showcase h2 {
    margin-bottom: 5px;

}

/* ARTICULOS CARD */
.art-cards {
    width: 90%;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 25px;
    margin: auto;

}
.art-cards img {
    width: 100%;
    height: 180px;
}

.art-cards h3 {
    font-size: 20px;
    margin: 10px 0;
}
.art-cards p {
    font-size: 17px;
    margin: 5px 0;
}

.art-cards a {
    padding: 10px 0;
    color: #262626;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;

}

.art-cards a:hover {
    text-decoration: underline;
}

/* Line bajo el navigation*/
.hrr {
    margin-top: 10px;
    margin-bottom: 15px;
}

/* CARDS BANNER ONE*/
.cards-banner-one {
    width: 100%;
    height: 350px;
    background: url("./img/puritanos.jpg") no-repeat center center/cover;
    margin-bottom: 40px;
    margin-top: 10px;

}
.cards-banner-one h2,
.cards-banner-one p{
    color: ghostwhite;
    margin-top: 5px;    
}
.cards-banner-one .content {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 5px;
    padding-left: 50%;
    padding-right: 10px;
    
    text-align: right;

}
.cards-banner-one:hover {
    
    opacity: 0.95;
}

/*REDES*/
.social .links a {    
    color: black;
}

.social {    
    color: black;
    margin: 50px;
}
.social p {
    color: black;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links a {
    margin: 0 30px;
}

.links a i {
    font-size: 3rem;

}